<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charser="UTF-8" />
    <title>Home</title>
</head>
<body>
    <a href="{{ url_for('home')}}">Home</a>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('add_treino') }}">Adicionar treino</a></li>
            <li><a href="{{ url_for('lista_treinos') }}">Treinos</a></li>
        </ul>
    </nav>
    <footer>Copyright 2026. Todos os direitos reservados.</footer>
</body>
</html>