<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Treinos</title>
</head>
<body>
    <h1>Treinos</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('lista_treinos', ordem='asc') }}">Mais antigos</a></li>
            <li><a href="{{ url_for('lista_treinos', ordem='desc') }}">Mais recentes</a></li>
        </ul>
    </nav>
    {% if treinos %}
        {%for treino in treinos %}
            <div>
                <p>Data: {{ treino["data"] }}</p>
                <p>Tipo: {{ treino["tipo"] }}</p>
                <p>Duração: {{ treino["duracao"] }}</p>
                <p>Descrição: {{ treino["descricao"] }}</p>
            <form action="/del/{{ treino.id }}" method="POST">
                <button type="submit">Deletar</button>
            </form>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>Não há treinos adicionados!</p>
    {% endif %}
</body>
</html>
